.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
}

.signup legend {
    font-size: 20px;
    font-weight: 700;
    color: red;
}

.signup__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

.signup__form fieldset {
    border-color: black;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.signup__form label {
    margin: 15px;
}

.signup__form input {
    /* border-color: black; */
    width: auto;
    height: auto;
    margin: 10px;
}

.signup .wrap {
    margin: 5px;
}

.signup button {
    margin: 10px auto;
    width: 75px;
}  
