.taskPage {
    display: flex;
    flex-direction: row;
}

.taskPage h2 {
    font-size: 1.5em;
}

.add-button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    position: fixed;
    background-color: white;
    color: red;
    right: 5vw;
    bottom: 5vw;
    font-size: 45px;
    font-weight: 500;
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
}

@media only screen and (max-width: 600px) {

    .taskPage {
        flex-direction: column;
    }

    .add-button {
        right: 10vw;
        bottom: 10vw;
    }

}