.teams {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.teams .test {
    margin: auto;
}

.teams__table {
    /* background-color: #ddd; */
    margin: auto;
    text-align: center;
    min-height: 500px;
    min-width: 300px;
}

.teams__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}