.cardDetails {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
}

.cardDetails .taskCard {
    margin: auto;
    width: 375px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cardDetails-content {
    text-align: center;
    min-height: 500px;
    min-width: 375px;
}

.cardDetails__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardDetails__table th {
    padding: 15px;
}

.cardDetails__links {
    padding: 5% 0;
}

.cardDetails__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}

.cardDetails button {
    width: 75px;
}