.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
}

.login .logo {
    font-size: 55px;
    font-weight: 500;
    color: red;
}

@supports (-webkit-text-stroke: 1px red) {
    .login .big-name {
        font-size: 2.5em;
        font-weight: 500;
        color: red;
        -webkit-text-stroke: 1px red;
    }
}

.login__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

.login .spacer {
    flex: 1;
}

.login__form fieldset {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-color: black;
}

.login__form label {
    margin: 15px;
}

.login__form input {
    width: auto;
    height: auto;
    margin: 10px;
}

.login button {
    margin: 10px auto;
    width: 70px;
}

.login .wrap {
    margin: 5px;
}