.section.login {
    margin-top: 0;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
}

.login .logo {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 55px;
    font-weight: 550;
    color: red;
}

.login .spin {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.login .big-name {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@supports (-webkit-text-stroke: 1px red) {
    .login .big-name {
        font-size: 2.5em;
        font-weight: 500;
        color: red;
        -webkit-text-stroke: 1px red;
    }
}

.login__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

.login legend {
    display: none;
}

.login .spacer {
    flex: 1;
}

.login__form fieldset {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-radius: 0.375rem;
    border: 1px solid #abb3b3;
    box-shadow: 0 0.375rem 0.75rem rgba(12, 13, 13, 0.15);
}

.login__form label {
    margin: 15px;
}

.login__form input {
    width: auto;
    height: auto;
    margin: 10px;
}

.login button {
    margin: 10px auto;
    width: 75px;
}

.login .wrap {
    margin: 5px;
}

.login .error-message {
    position: absolute;
    top: 0;
}