.newTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.newTask__form {
    height: 300px;
    width: 350px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.newTask legend {
    display: none;
}

.newTask__form fieldset {
    padding: 20px;
    border-radius: 0.375rem;
    border: 1px solid #abb3b3;
    box-shadow: 0 0.375rem 0.75rem rgba(12, 13, 13, 0.15);
}

.newTask__form label {
    margin: 15px;
}

.newTask__form input {
    width: auto;
    height: auto;
    margin: 10px;
}

.newTask button {
    margin: 10px;
    width: 75px;
}  
